.Result {
  font-size: 1rem;
  color: #eee;
}

.Result .button {
  display: inline-block;
  margin: 0;
  padding: 10px;

  background-color: #404b54;
  border: 1px solid #3b464e;
  border-radius: 2px;
  box-shadow: 1px 1px 8px -3px #000;
}

.Result .button:hover {
  cursor: pointer;
  background-color: #353e46;
}
