.Square {
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;

  border: 1px solid rgba(0,0,0,0.15);
  background-color: #63b5aa;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px #ccc;
  color: #333;
  user-select: none;
}

.Square.open:hover {
  background-color: #92b7b2;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  box-shadow: 0 0 10px -5px #000 inset;
}

.Square.marked-x {
  background-color: #6ba2bd;
  transition: background-color 200ms ease-in-out;
}

.Square.marked-o {
  background-color: #9ed429;
  transition: background-color 200ms ease-in-out;
}
